<!DOCTYPE html>
<html lang="en">
	<!-- head & meta data -->
	<%- include('partials/head'); %>

	<body>
		<!-- navigation -->
		<%- include('partials/nav'); %>

		<!-- h1 title comes from middleware-->
		<h1><%= title %> of HelpUsRecycle</h1>

		<!-- maps -->
		<%- include('partials/map'); %>

		<!-- footer -->
		<%- include('partials/footer'); %>

		<!-- Javascript - only for this page -->
	</body>
</html>
